myenv/
__pycache__/
*.pyc
.gradio/
temp_pdfs/
.env
chroma_db/
data/docling/
data/pdfs/*
!data/pdfs/.gitkeep
legacy/temp_pdfs/
legacy/outputs/
legacy/all_chunks.json
legacy/metadata.json
legacy/metadata1.json
legacy/vector_store.faiss
legacy/pdf_processing.log
