accelerate
bitsandbytes
chromadb
docling==2.42.0
fastapi
gradio
keyring
langchain
langchain-anthropic
langchain-google-genai
langchain-huggingface
langchain-openai
langgraph
numpy
platformdirs
python-multipart
qwen-vl-utils
rank-bm25
sentence-transformers
torch
transformers
uvicorn
